<div class="center-window">
  <header class="window-header">
    <%= image_tag 'instagram.png', { size: "115x40", class: "align-center display-block" } %>
  </header>
  <p class="alert" id="end-of-header"><%= alert %></p>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: "login-form", class: "form-horizontal margin-top20px", role: "form" } ) do |f| %>
    <div class="form-group">
      <%= f.label :email, { class: "text-align-center col-sm-4 control-label", for: "email" } %>
      <div class="col-sm-7">
        <%= f.email_field :email, { autofocus: true, type: "email", class: "form-control", id: "email" } %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, { class: "text-align-center col-sm-4 control-label", for: "password" } %>
      <div class="col-lg-7">
        <%= f.password_field :password, { autocomplete: "off", type: "password", class: "form-control", id: "password" } %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-7">
          <div class="checkbox">
            <label>
              <%= f.check_box :remember_me %> <%= f.label :remember_me %>
            </label>
          </div>
        </div>
      </div>
    <% end %>    
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "float-left margin-left5 vertical-align-text-middle" %>
    <%#= f.submit "Log in", class: "btn btn-default float-right margin-right9" %>
    <button id="submit-login" type="button" class="btn btn-default float-right margin-right9">Log in</button>
  <% end %>
</div>
